kwmc rule owner="iTerm2" properties={role="AXDialog"}

kwmc rule owner="Steam" properties={float="true"}
kwmc rule owner="happybird" properties={float="true"}
kwmc rule owner="IntelliJ IDEA" properties={float="true"}
kwmc rule owner="Stellaris" properties={float="true"}

